<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>About Me</h1>

    <ul>
        <% skills.forEach(skill => { %>
            <li><%= skill %></li>
        <% }) %>
    </ul>

    <a href="/">Back</a>
</body>
</html>