<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hi, I'm <%= name %> 👋</h1>
    <p>Welcome to my dynamic portfolio website.</p>

    <a href="/about">About Me</a>
</body>
</html>